body{
 width: 100%;
 
}

#page-container {
  
  width:100%;
  margin: 0 auto;
  
}

.container{
  width:40%;
  margin: 0 auto;
  margin-left: 30%;
  margin-top: 5%;
  border:.5px solid #d8d3d3;
  padding: 15px;
  border-radius: 5px;
}
.active{
  color:red;
}




#Navbar{
  background-color : #1167a8;

}
